/* Full screen height for the split screen */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin-top: 10vh; /* Adjust this value based on the height of your header */
}


/* Styling for the big message */
.big-message {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
    background-color: #57e5f5;
    border: 1px solid #0e7c7b;
}

/* Split screen layout */
.split-screen {
    display: flex;
    flex: 1;
}

/* Left side styling */
.left-side {
    background-color: rgb(255, 49, 49);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.take-me-back-text {
    font-size: 3em;
    color: black;
    font-weight: bold;
}

.take-me-back-text:hover {
    padding: 1.25rem 2rem;
    border-radius: 4rem;
    background-color: rgb(175, 0, 0);
    cursor: pointer;
    color: whitesmoke;
}

/* Right side styling (fun gimmick will be added later) */
.right-side {
    flex: 1;
    background-color: #c7ff82cd; /* Placeholder background */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

.bouncing-container {
    position: absolute;
    top: 0;
    right: 0; /* Align container to the right */
    width: 50%; /* Cover right half of the screen */
    height: 100%;
    overflow: hidden;
}

.bouncing-circle {
    font-size: 1.25rem;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #085500; /* Red color for the circle */
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}
