:root {
    --primary: #c3ff0f;
    --secondary: rgb(0, 144, 22);
    --light: #f4f4f4;
    --dark: #333;

    --title: 'Raleway', sans-serif;
    --text: 'Quicksand', sans-serif;
}


*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

p {
    font-family: var(--text);
}


body {
    font-family: var(--text);
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: var(--dark);
}

.header {
    width: 100%;
    height: 5rem;
    color: whitesmoke;
    background-color: rgb(95, 179, 11);
    display: flex;
    gap: 1rem; /* Adjust the space between items */
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    position: fixed;
    top: 0;
    text-decoration: none;
}


.headerNav {
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
}

.navLink {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    margin-left: 3.5rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 8px 16px;
    border-radius: 1.6rem;
    border: 0.1rem solid rgba(80, 151, 8, 0.964);
    text-decoration: none;
    transition: .5s;
}

.navLink:hover {
    background-color: rgb(47, 117, 7);
    border-color: rgba(44, 108, 7, 0.966);
}

.giveup:hover {
    background-color: rgb(166, 0, 0);
}

.container {
    margin-top: 5rem;
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.panel {
    border: 1px solid #ccc;
    background-color: yellow;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.panel h2 {
    font-family: 'Pt Sans', sans-serif;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.password-input {
    border: 0.075rem solid rgb(20, 20, 20);
    border-radius: 8px 0 0 8px;
    padding: 0.5rem;
    outline: none;
}

.submit-button {
    background-color: rgb(128, 0, 128);
    color: white;
    border: 0.075rem solid rgb(20, 20, 20);
    border-radius: 0 8px 8px 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: rgb(128, 0, 128, 0.9);
}